@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
width: 100%;
height: 100%;
  pont-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  background-color: #303030;
}
header {
	background-color: #3F3F3F;
}
.telephone {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 300;
}

.call-us {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 5px;
  color: #303030;
  display: inline-block;
  text-align: center;
}

.trackingno {
	text-transform: uppercase;
}

.e-mail-big {
	font-size: 150%;
}
.constantcom {
	padding: 50px;
}
.navbar-light, .navbar-nav, .nav-link {
  color: #626262;
}
.navbar-light:hover, .navbar-nav:hover, .nav-link:hover {
  color: #303030;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}
.carousel-inner img{
  width: 100%;
  height: 75%;
}
.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 26px;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.carousel-caption h2 {
  font-size: 150%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.card-body {
 color: #000000;
}
.card {
	background-color: #FFD700
}
.btn-primary {
  background-color: #333333;
  border: 1px solid #CCCCCC;
}
.btn-primary:hover {
  background-color: #999999;
  border: 1px solid #999999;
}
.btn-primary:focus {
box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 1rem;
  border-radius: 0;
  flex-shrink: 0;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.col-md-4 h4 {
  color: #303030;
}
.col-md-4 p {
  color: #303030;
}
.lead {
  color: #303030;
}
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 4.5em;
  padding: .75rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-instagram {
  color: #fccc63;
}
.fa-facebook:hover,
.fa-twitter:hover, .fa-instagram:hover {
  color: #d5d5d5;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 0rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.lightsmall {
  border-top: 1px solid #d5d5d5;
  width: 50%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 1033px) {

    .call-us {
      margin-left: 55px;
      margin-right:55px;
      font-size: 90%;
    }
}

@media (max-width: 992px) {

    .call-us {
      margin-left: 45px;
      margin-right:45px;
      font-size: 100%;
    }

	  .social a {
	  font-size: 4em;
	  padding: .3em;
	}
}
@media (max-width: 768px) {

  .call-us {
  margin-left: 0px;
  margin-right:0px;
  margin-top:20px;
  margin-bottom:20px;
  font-size: 100%;
  }

	.navbar-brand img{
	width: 85%
	}
	.carousel-caption{
	  top: 45%;
	}
	.carousel-caption h1 {
	  font-size: 250%;
	  padding-bottom: 18px;
	}
	.carousel-caption h3 {
	  font-size: 140%;
	  font-weight: 400;
	  padding-bottom: .2rem;
	}
	.carousel-caption .btn {
	  font-size: 75%;
	  padding: 8px 14px;
	}
	.display-4 {
	  font-size: 200%;
	}
	.social a {
	  font-size: 2.5em;
	  padding: .1em;
	}
}
@media (max-width: 576px) {
	.navbar-brand img {
	width: 75%
	}
	.carousel-caption {
	  top: 40%;
	}
	.carousel-caption h1 {
	  font-size: 200%;
	  padding-bottom: 8px;
	}
	.carousel-caption h3 {
	  font-size: 90%;
	}
	.carousel-caption .btn {
	  font-size: 60%;
	  padding: 2px 8px;  
	}
	.carousel-indicator {
	  display: name;
	}
	.display-4 {
	  font-size: 160%;
	}
	.social a {
	  font-size: 2em;
	  padding: .05em;
	}
}

/*--- Google Map --*/
.gmap {
    margin: 0 auto;
    display: block;
    height: 500px;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('../img/road.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
#fixed2 {
  background-image: url('../img/road.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*--- Images ==**/
.img-bhm {
  max-width: 100%;
  height: auto;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








